.main_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	padding: 15px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}
.name_container {
	h1 {
		font-size: 20px;
		white-space: nowrap;
	}
	span {
		font-size: 12px;
		white-space: nowrap;
	}
	overflow: hidden;
}
.delete_container i {
	font-size: 22px;
	cursor: pointer;
}

.main_img_container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.img_contaienr {
	position: relative;
	height: 80px;
	width: 80px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	overflow: hidden;
	margin-right: 5%;
	* {
		object-fit: cover;
	}
}
.data_container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 40%;
	hr {
		width: 2px;
		height: 5vh;
		background-color: black;
		border: none;
		outline: none;
	}
	button {
		background-color: rgb(209, 209, 209);
		border: none;
		font-size: 14px;
		width: 30px;
		height: 30px;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		cursor: pointer;
	}
	div div {
		color: rgb(87, 202, 255);
		font-size: 22px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		text-align: center;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		font-weight: 600;
	}
	p {
		font-weight: 600;
		font-size: 18px;
	}
}

@media screen and (max-width: 1000px) {
	.main_container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		padding: 5px;
		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-ms-border-radius: 15px;
		-o-border-radius: 15px;
		margin-top: 1em;
	}
	.name_container {
		h1 {
			font-size: 20px;
			white-space: nowrap;
		}
		p {
			font-size: 16px;
			white-space: nowrap;
		}
		overflow: hidden;
	}
	.delete_container i {
		font-size: 26px;
		cursor: pointer;
		margin: auto;
	}

	.main_img_container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.img_contaienr {
		position: relative;
		height: 50px;
		width: 50px;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		overflow: hidden;
		margin-right: 5%;
		* {
			object-fit: cover;
		}
	}
	.data_container {
		position: relative;
		left: 45%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 50%;
		hr {
			width: 2px;
			height: 5vh;
			background-color: black;
			border: none;
			outline: none;
			display: none;
		}
		button {
			background-color: rgb(209, 209, 209);
			border: none;
			font-size: 16px;
			width: 35px;
			height: 35px;
			border-radius: 10px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			-ms-border-radius: 10px;
			-o-border-radius: 10px;
			cursor: pointer;
		}
		div div {
			color: rgb(87, 202, 255);
			font-size: 22px;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
			text-align: center;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;
			font-weight: 600;
		}
		p {
			font-weight: 600;
			font-size: 18px;
		}
		.ProductCount_container {
			display: flex;
			flex-direction: row;
			div {
				width: 40px;
				margin: 0 5px;
			}
		}
	}
}
