@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.product_card {
	width: 330px;
	border-radius: 25px;
	padding: 20px 30px 30px 30px;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	z-index: 3;
	overflow: hidden;
	margin: 3em auto;
	.shoe_details {
		background-color: white;
	}
}
.product_card .logo_cart {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1em;
	.cart_img_container {
		position: relative;
		height: 60px;
		width: 60px;
		* {
			object-fit: cover;
		}
	}
	i {
		margin-top: -0.8em;
	}
}
.product_card .logo_cart i {
	font-size: 27px;
	color: #707070;
	cursor: pointer;
	transition: color 0.3s ease;
}
.product_card .logo_cart i:hover {
	color: #333;
}

.product_card .main_images .product_img {
	position: relative;
	height: 20vh;
	min-width: 15vw;
	top: -40px;
	transition: opacity 0.5s ease;
	overflow: hidden;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	cursor: pointer;
	margin: auto;
	#img {
		object-fit: contain;
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
	}
}
.product_img:hover #img {
	filter: opacity(0.3);
	-webkit-filter: opacity(0.3);
}
.product_card .shoe_details .shoe_name {
	font-size: 20px;
	font-weight: 500;
	color: #161616;
	white-space: nowrap;
	display: inline-block;
	text-align: justify;
}
.product_card .shoe_details p {
	font-size: 12px;
	font-weight: 400;
	color: #333;
	text-align: start;
}

.product_card .button {
	position: relative;
	height: 35px;
	width: fit-content;
	border-radius: 25px;
	margin-top: 30px;
	overflow: hidden;
}
.product_card .button .button_layer {
	position: absolute;
	height: 100%;
	width: 300%;
	left: -100%;
	background-image: linear-gradient(135deg, #9708cc, #43cbff, #9708cc, #43cbff);
	transition: all 0.4s ease;
	border-radius: 25px;
}
.product_card .button:hover .button_layer {
	left: 0;
}
.product_card .button button {
	position: relative;
	height: 100%;
	width: 100%;
	background: none;
	outline: none;
	border: none;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #fff;
	cursor: pointer;
	padding: 1em;
	display: flex;
	align-items: center;
	margin: auto;
}

.buttons_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: auto;
}
